

.button {
  height: 40px;
  padding: 0 14px;
  border-radius: 8px;
  background: transparent;
  text-transform: none;
  cursor: pointer;
  transition: background 0.15s ease, border 0.15s ease, color 0.15s ease;
  border: 1px solid var(--border-color);
}

.button:hover {
  border-color: var(--border-color-hover);
}



.editButtonAction, 
.deleteButtonAction{
  width: 80px;
  font-size: 13px;
}

.editButtonAction {
  color: var(--primary);
}

.editButtonAction:hover {
  background: var(--primary-hover);
}

.deleteButtonAction {
  color: var(--danger);

}

.deleteButtonAction:hover {
  background: var(--danger-hover);
}



.resetButtonFilter {
  padding: 0 18px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  background: var(--neutral);
  color: var(--text-primary);
  font-size: 14px;
}

.resetButtonFilter:hover {
  background: var(--neutral-hover);
}



.closeButtonModal {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  font-size: 18px;
  border: none;         
  border-radius: 50%;
}

.closeButtonModal:hover {
  background: var(--neutral-hover);
}



.deleteButtonModal,
.saveButtonModal, 
.addButtonModal,
.cancelButtonModal {
  width: 120px;
  font-size: 14px;
  font-weight: 500;
}

.deleteButtonModal {
  color: var(--danger);
}

.deleteButtonModal:hover {
  background: var(--danger-hover);
}

.saveButtonModal, 
.addButtonModal,
.canceButtonModal {
  color: var(--primary);
}

.saveButtonModal:hover,
.addButtonModal:hover {
  background: var(--primary-hover);
}

.cancelButtonModal {
  background: var(--neutral);
}

.cancelButtonModal:hover {
  background: var(--neutral-hover);
}