


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: #fff;
  color: var(--text-primary);
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

header,
footer,
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  padding: 45px 16px 30px 16px;
}

footer {
  padding: 30px 16px 22px 16px;
}

.content {
  padding: 16px;
}