

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formField {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}

label {
  font-size: 13px;
  color: var(--text-secondary);
}

.error {
  font-size: 13px;
  color: var(--danger); 
}
