

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary);
}

:root {
  --border-color: #e2e8f0;
  --border-color-hover: #cbd5e1;

  --text-primary: #414c60;
  --text-secondary: #64748b;

  --primary: #3a63bb;
  --primary-hover: rgba(37, 99, 235, 0.08);
  --danger: #c73a3a;
  --danger-hover: rgba(220, 38, 38, 0.08);
  --neutral: #f8fafc;
  --neutral-hover: #e2e8f0;

  --hover-bg: #f1f5f9;
}


body {
  background: #f8fafc;
}

.app {
  width: 1400px;
  margin: 20px auto;
  border: 1px solid var(--border-color);
  background: #fff;
  border-radius: 8px;
}