

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary);
}

:root {
  --bg-app: #f8fafc;
  --bg-surface: #ffffff;
  --border-color: #e2e8f0;

  --text-primary: #414c60;
  --text-secondary: #64748b;

  --primary: #3a63bb;
  --danger: #c73a3a;

  --hover-bg: #f1f5f9;
}