

table {
  border-collapse: collapse;
  background: var(--bg-surface);
}

th {
  font-weight: 600;
  font-size: 14px;
  padding: 18px 16px;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-secondary);
}

td {
  padding: 20px 16px;
  border-bottom: 1px solid var(--border-color);
}